**/.DS_Store
**/.cache
**/.ipython
**/.ivy2
**/.jupyter
**/.local
**/.pytest_cache
**/__pycache__
**/build
**/dist
**/pipelines.egg-info
**/tests/data/bronze
**/tests/data/silver
**/tests/data/checkpoints
